<div class='sound-details-wrapper'>
    <a [routerLink]="['/home']" class='back-btn'>
        <i class="pi pi-angle-left"></i>Back to main menu</a>
    <div class='tab-header'>Sounds {{soundsService.selectedSoundDetails.name}}</div>
    <div class="sub-tab-header">
        {{ispeakerService.selectedLanguage==='BrE'?'British Language':'American Language'}}
    </div>
    <div class='p-grid btn-wrapper'>
        <div class='p-col details-btn selected' [ngClass]="{'selected':(activeTab === TabEnum.WATCH)}"
            (click)='activeTab=TabEnum.WATCH;'>
            <span>Watch</span>
            <div class='hide-bottom-border'></div>
        </div>
        <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.LISTEN_AND_RECORD)}"
            (click)='activeTab=TabEnum.LISTEN_AND_RECORD;'>
            <span>Listen & Record</span>
            <div class='hide-bottom-border'></div>
        </div>
        <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.PRACTISE)}"
            (click)='activeTab=TabEnum.PRACTISE;'>
            <span> Practise</span>
            <div class='hide-bottom-border'></div>
        </div>
        <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.REVIEW)}"
            (click)='activeTab=TabEnum.REVIEW;'>
            <span> Review</span>
            <div class='hide-bottom-border'></div>
        </div>
    </div>
    <ng-container [ngSwitch]="activeTab">
        <ng-container *ngSwitchCase="TabEnum.WATCH">
            <app-watch></app-watch>
        </ng-container>
        <ng-container *ngSwitchCase="TabEnum.LISTEN_AND_RECORD">
            <app-listen-and-record></app-listen-and-record>
        </ng-container>
        <ng-container *ngSwitchCase="TabEnum.PRACTISE">
            <app-practise></app-practise>
        </ng-container>
        <ng-container *ngSwitchCase="TabEnum.REVIEW">
            <app-review></app-review>
        </ng-container>
    </ng-container>
    <p-button label="Try another sound" styleClass="try-another-btn" (onClick)="router.navigate(['/sounds/'])" ></p-button>
</div>