.ispeaker-wrapper {
    color: #333333;
    font-family: "SourceSansProRegular";
    min-width: 300px;
    float: left;
    width: 100%;
    a {
        text-decoration: none;
    }
    div,
    span {
        font-size: inherit;
        line-height: initial;
    }
    .back-btn {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #4776ae;
        border: 1px solid #4776ae;
        padding: 0px 10px;
        border-radius: 50px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 16px;
        text-decoration: none;
        background-color: #ffffff;
        line-height: 28px;
        -webkit-transition: background-color 0.1s;
        -o-transition: background-color 0.1s;
        transition: background-color 0.1s;
        padding-left: 20px;
        .pi {
            position: absolute;
            left: 1px;
            top: 4px;
            font-size: 22px;
        }
        &:hover {
            color: #002048;
            border-color: #949494;
            background-color: #e6e5e5;
            border: 1px solid #949494;
        }
    }
    .highlightTranscript {
        color: #ff0000;
    }
    .bold {
        font-family: "SourceSansProSemiBold";
        font-weight: 650;
        font-style: normal;
    }
    .dialouge-wrapper {
        &.highlight-dialogue-1 {
            .highlight-dialouge-1 {
                background-color: #e8bcc1;
            }
        }
        &.highlight-dialogue-2 {
            .highlight-dialouge-2 {
                background-color: #c5dbf4;
            }
        }
        &.highlight-dialogue-3 {
            .highlight-dialouge-3 {
                background-color: #fff7b4;
            }
        }
        &.highlight-dialogue-4 {
            .highlight-dialouge-4 {
                background-color: #b6cd72;
            }
        }
        &.highlight-dialogue-5 {
            .highlight-dialouge-5 {
                background-color: #f2d4a6;
            }
        }
        &.highlight-dialogue-6 {
            .highlight-dialouge-6 {
                background-color: #dbded8;
            }
        }
        &.highlight-dialogue-7 {
            .highlight-dialouge-7 {
                background-color: #c5dbf4;
            }
        }
    }
    .speech-wrapper {
        p {
            margin-top: 0px;
        }
    }
}
@media screen and (max-width: 450px) {
    .step-wrapper {
        margin-right: 40px !important;
        .step-line {
            width: 50px !important;
        }
    }
}
