.ispeaker-wrapper {
    color: #333333;
    font-family: "SourceSansProRegular";
    min-width: 300px;
    a {
        text-decoration: none;
    }
    div,
    span {
        font-size: inherit;
        line-height: initial;
    }
  
}
