<div class="wrapper">
    <div class="pratice-header-wrapper">
        <div class='header-text'>
            Practise</div>
        <div class='i-text-wrapper'>
            <div class='i-text'>You can record yourself doing these practice tasks with a partner. Look at the Tips and use some of the language from this topic.</div>
            <div class='i-text'>Make notes before you start if you want to.</div>
        </div>
    </div>
    <div class="inner-wrapper left">
        <div class="task-wrapper" *ngFor="let task of practiceData.task;let i = index;">
            <div class='header-text'>
                Task {{i+1}}</div>
            <div class="img-wrapper" *ngIf="task.images.length">
                <ng-container *ngFor="let image of task.images">
                    <img *ngIf="!examSpeakingService.userId" src="./assets/img/{{image}}" />
                    <img *ngIf="examSpeakingService.userId" src="/external/ispeaker/new/assets/img/{{image}}" />
                </ng-container>

            </div>
            <div class="para-wrapper" *ngIf="task.para.length">
                <div class="para-text" *ngFor="let para of task.para">{{para}}</div>
            </div>
            <div class="list-wrapper" *ngIf="task.listItems.length">
                <div class="list" *ngFor="let list of task.listItems">{{list}}</div>
            </div>
            <div style="    font-weight: 400;
            font-style: normal;
            font-size: 17px;margin-bottom: 10px;margin-top: 20px;">Your Notes:</div>
            <textarea style="width:100%" [rows]="5" [cols]="30" [(ngModel)]="task.userAns" pInputTextarea
                autoResize="autoResize"></textarea>
            <!-- <div class='icon-wrapper'>
                <div class="icons" (click)="startStopRecording(i)"></div>

            </div> -->
            <div class='record-wrapper'>
                <div>Now try to record yourself speaking the lines and listen to how you sound</div>
                <div class='icon-wrapper'>
                    <div class="icons" (click)="startStopRecording(i)"
                        [ngClass]="{'record':!task.isRecording,'record-stop':task.isRecording}"></div>
                    <div class="icons play" (click)="playStopRecordedAudio(i)"
                        [ngClass]="{'disable': !task.recordedAudio, 'play': !task.isPlaying,'record-stop':task.isPlaying}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-wrapper right">
        <div class='header-text'>
            Tips</div>
        <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' styleClass='step-by-step-accordian'>
            <p-accordionTab [selected]="true" [header]="'Do...'">
                <ul style="padding-left: 0px;list-style: initial;">
                    <li *ngFor="let tips of practiceData.tips.dos">
                        <div class='sentence-wrapper'>
                            <p>{{tips}}</p>
                        </div>
                    </li>
                </ul>
            </p-accordionTab>
        </p-accordion>
        <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' styleClass='step-by-step-accordian'>
            <p-accordionTab [selected]="true" header="Don't...">
                <ul style="padding-left: 0px;list-style: initial;">
                    <li *ngFor="let tips of practiceData.tips.donts">
                        <div class='sentence-wrapper'>
                            <p>{{tips}}</p>
                        </div>
                    </li>
                </ul>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>