<div class='exam-speaking-details-wrapper' *ngIf="ispeakerService.selectedPageLanguage == 'Eng' else elseBlock">
    <a (click)="onBtnClick('mainMenu')" class='back-btn'>
        <i class="pi pi-angle-left"></i>Back to main menu</a>
    <div class='tab-header'>{{examSpeakingType}}</div>
    <div class="sub-tab-header">
        {{ispeakerService.selectedLanguage==='BrE'?'British English':'American English'}}
    </div>
    <div class='p-grid btn-wrapper'>
        <div class='p-col details-btn selected' [ngClass]="{'selected':(activeTab === TabEnum.WATCH)}"
            (click)='activeTab=TabEnum.WATCH'>
            <div class="txt-wrapper">
                <span class="tab-icon watch-icon" title="Watch"></span>
                <span class="title-txt"> Watch & Study</span>
            </div>
            <div class='hide-bottom-border'></div>
        </div>
        <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.LISTEN_AND_RECORD)}"
            (click)='activeTab=TabEnum.LISTEN_AND_RECORD'>
            <div class="txt-wrapper">
                <span class="tab-icon listen-icon" title="Listen"></span>
                <span class="title-txt">Listen</span>
            </div>
            <div class='hide-bottom-border'></div>
        </div>
        <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.PRACTISE)}"
            (click)='activeTab=TabEnum.PRACTISE'>
            <div class="txt-wrapper">
                <span class="tab-icon practice-icon" title="Practise"></span>
                <span class="title-txt"> Practise</span>
            </div>
            <div class='hide-bottom-border'></div>
        </div>
        <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.REVIEW)}"
            (click)='activeTab=TabEnum.REVIEW'>
            <div class="txt-wrapper">
                <span class="tab-icon review-icon" title="Review"></span>
                <span class="title-txt"> Review</span>
            </div>
            <div class='hide-bottom-border'></div>
        </div>
    </div>
    <ng-container [ngSwitch]="activeTab">
        <ng-container *ngSwitchCase="TabEnum.WATCH">
            <app-exam-speaking-watch-and-study></app-exam-speaking-watch-and-study>
        </ng-container>
        <ng-container *ngSwitchCase="TabEnum.LISTEN_AND_RECORD">
            <app-exam-speaking-listen></app-exam-speaking-listen>
        </ng-container>
        <ng-container *ngSwitchCase="TabEnum.PRACTISE">
            <app-exam-speaking-practice></app-exam-speaking-practice>
        </ng-container>
        <ng-container *ngSwitchCase="TabEnum.REVIEW">
            <app-exam-speaking-review></app-exam-speaking-review>
        </ng-container>
    </ng-container>
    <p-button label="Try another speaking task" styleClass="try-another-btn" (onClick)="onBtnClick('examSpeaking')">
    </p-button>
</div>
<ng-template #elseBlock>
    <div class='exam-speaking-details-wrapper'>
        <a (click)="onBtnClick('mainMenu')" class='back-btn'>
            <i class="pi pi-angle-left"></i>返回主页</a>
        <div class='tab-header'>{{examSpeakingType}}</div>
        <div class="sub-tab-header">
            {{ispeakerService.selectedLanguage==='BrE'?'英式英语':'美式英语'}}
        </div>
        <div class='p-grid btn-wrapper'>
            <div class='p-col details-btn selected' [ngClass]="{'selected':(activeTab === TabEnum.WATCH)}"
                (click)='activeTab=TabEnum.WATCH'>
                <div class="txt-wrapper">
                    <span class="tab-icon watch-icon" title="Watch"></span>
                    <span class="title-txt"> 看与学</span>
                </div>
                <div class='hide-bottom-border'></div>
            </div>
            <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.LISTEN_AND_RECORD)}"
                (click)='activeTab=TabEnum.LISTEN_AND_RECORD'>
                <div class="txt-wrapper">
                    <span class="tab-icon listen-icon" title="Listen"></span>
                    <span class="title-txt">听</span>
                </div>
                <div class='hide-bottom-border'></div>
            </div>
            <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.PRACTISE)}"
                (click)='activeTab=TabEnum.PRACTISE'>
                <div class="txt-wrapper">
                    <span class="tab-icon practice-icon" title="Practise"></span>
                    <span class="title-txt"> 练习</span>
                </div>
                <div class='hide-bottom-border'></div>
            </div>
            <div class='p-col details-btn' [ngClass]="{'selected':(activeTab === TabEnum.REVIEW)}"
                (click)='activeTab=TabEnum.REVIEW'>
                <div class="txt-wrapper">
                    <span class="tab-icon review-icon" title="Review"></span>
                    <span class="title-txt"> 复习</span>
                </div>
                <div class='hide-bottom-border'></div>
            </div>
        </div>
        <ng-container [ngSwitch]="activeTab">
            <ng-container *ngSwitchCase="TabEnum.WATCH">
                <app-exam-speaking-watch-and-study></app-exam-speaking-watch-and-study>
            </ng-container>
            <ng-container *ngSwitchCase="TabEnum.LISTEN_AND_RECORD">
                <app-exam-speaking-listen></app-exam-speaking-listen>
            </ng-container>
            <ng-container *ngSwitchCase="TabEnum.PRACTISE">
                <app-exam-speaking-practice></app-exam-speaking-practice>
            </ng-container>
            <ng-container *ngSwitchCase="TabEnum.REVIEW">
                <app-exam-speaking-review></app-exam-speaking-review>
            </ng-container>
        </ng-container>
        <p-button label="做另一个口语练习" styleClass="try-another-btn" (onClick)="onBtnClick('examSpeaking')">
        </p-button>
    </div>
</ng-template>
<app-spinner [isRunning]='dataLoading'></app-spinner>