<div class="review-wrapper" *ngIf="ispeakerService.selectedPageLanguage == 'Eng' else elseBlock">
    <div class='header'>Review</div>
    <div class="review-inner-wrapper" *ngFor="let review of reviewData">
        {{review.text}} &nbsp;&nbsp;&nbsp; <p-checkbox [(ngModel)]="review.checked" (ngModelChange)="onModelChange()" [binary]="true">
        </p-checkbox>
    </div>
</div>
<ng-template #elseBlock>
    <div class="review-wrapper">
        <div class='header'>复习</div>
        <div class="review-inner-wrapper" *ngFor="let review of reviewData">
            {{review.text}} &nbsp;&nbsp;&nbsp; <p-checkbox [(ngModel)]="review.checked"
                (ngModelChange)="onModelChange()" [binary]="true">
            </p-checkbox>
        </div>
    </div>
</ng-template>