<div class="wrapper">
    <div class="task-wrapper">
        <div class='header-text'>Task</div>
        <div class="img-wrapper">
            <ng-container *ngFor="let image of taskData.images">
                <img *ngIf="!examSpeakingService.userId" src="./assets/img/{{image}}" />
                <img *ngIf="examSpeakingService.userId" src="/external/ispeaker/new/assets/img/{{image}}" />
            </ng-container>

        </div>
        <div class="para-wrapper">
            <div class="para-text" *ngFor="let para of taskData.para">{{para}}</div>
        </div>
        <div class="list-wrapper">
            <div class="list" *ngFor="let list of taskData.listItems">{{list}}</div>
        </div>
    </div>
    <div class="inner-wrapper left">
        <div class='header-text'>Watch</div>
        <div *ngIf="videoLink" class="video-container">
            <div #videoWrapper (window:resize)="onResize($event)" [innerHtml]="videoLink"></div>
        </div>
    </div>
    <div class="inner-wrapper right study">
        <div class='header-text'>Study</div>
        <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' (onClose)="onTabClose($event)"
            (onOpen)="onTabOpen($event)" styleClass='step-by-step-accordian study-accordian'>

            <p-accordionTab>
                <p-header>
                    <span class='oup-header'>
                        {{ isAccordOpen? "Collapse to hide the video dialogue":"Expand to read the video dialogue" }}
                    </span>
                </p-header>
                <div class="dialouge-wrapper" [ngClass]="{'highlight-dialogue-1': studyData.skills[0].check,
                     'highlight-dialogue-2': (studyData.skills.length>1 &&studyData.skills[1].check),
                    'highlight-dialogue-3': (studyData.skills.length>2 &&studyData.skills[2].check), 
                    'highlight-dialogue-4': (studyData.skills.length>3 &&studyData.skills[3].check), 
                    'highlight-dialogue-5': (studyData.skills.length>4 &&studyData.skills[4].check), 
                    'highlight-dialogue-6': (studyData.skills.length>5 &&studyData.skills[5].check),
                     'highlight-dialogue-7': (studyData.skills.length>6 &&studyData.skills[6].check)}"
                    *ngFor="let dialouge of studyData.dialogue">
                    <span class="speaker-wrapper" *ngIf="dialouge.speaker">{{dialouge.speaker}}: </span>
                    <span class="speech-wrapper" [innerHtml]="dialouge.speech"></span>
                </div>
                <div class='skills-wrapper'>
                    <div class="p-field-checkbox" *ngFor="let skill of studyData.skills;let i =index;">
                        <p-checkbox name="group{{i}}" value="New York" binary="true" [(ngModel)]="skill.check"
                            inputId="ny">
                        </p-checkbox>
                        <label for="ny">{{skill.label}}</label>
                    </div>
                </div>
                <div class='record-wrapper'>
                    <div>Now record yourself speaking the lines and listen to how you sound.</div>
                    <div class='icon-wrapper'>
                        <div class="icons" (click)="startStopRecording(studyData)"
                            [ngClass]="{'record':!studyData.isRecording,'record-stop':studyData.isRecording}"></div>
                        <div class="icons play" (click)="playStopRecordedAudio(studyData)"
                            [ngClass]="{'disable': !studyData.recordedAudio, 'play': !studyData.isPlaying,'record-stop':studyData.isPlaying}">
                        </div>
                    </div>
                </div>

            </p-accordionTab>

        </p-accordion>

    </div>
</div>