<div class="practise-wrapper">
    <div class='rubric' [ngClass]="{'hide-text':currentIndex>=practiseData.questions.length}">{{practiseData.rubric}}
    </div>
    <div class="step-main-wrapper">
        <ng-container *ngFor="let step of practiseData.questions;let i=index">
            <div class="step-wrapper">
                <div class="step" [ngClass]="{'active':(currentIndex>=i)}">

                </div>
                <div class="step-line" [ngClass]="{'active':(currentIndex>i)}"
                    *ngIf="i<practiseData.questions.length-1">
                </div>
            </div>
        </ng-container>
    </div>
    <ng-container *ngIf="currentIndex<practiseData.questions.length">
        <div class="question" [innerHtml]="practiseData.questions[currentIndex].ques"></div>
        <div class="transcript" [innerHtml]="practiseData.questions[currentIndex].transcription"></div>
        <div class='options-container'>
            <div class="option-wrapper" *ngFor="let option of practiseData.questions[currentIndex].options;let i=index">
                <div class='speaker-icon' (click)="playSound(option)"></div>
                <div class='radio-btn'
                    [ngClass]="{'correct':option.correct, 'incorrect':!option.correct, 'show':option.userAnswer,'disable':isAnswered}"
                    (click)="checkAnswer(option)"></div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentIndex>=practiseData.questions.length">
        <div class='score-title'>Your Score</div>
        <div class='user-score'>{{score}} / {{practiseData.questions.length}}</div>
    </ng-container>
    <div class='btn-container'>
        <p-button label="Next" *ngIf="currentIndex<practiseData.questions.length"
            (onClick)="onNextClick()">
        </p-button>
        <p-button label="Do another?"
            *ngIf="currentIndex>=practiseData.questions.length && currentSet<practiseSet.length-1"
            (onClick)="loadSet()">
        </p-button>
    </div>

</div>