<div class='home-wrapper'>
    <div class='header'><span style='font-family:MinionProRegular;'>Oxford</span> <span
            style='font-family:SourceSansProBold;'> iSpeaker</span></div>
    <div class="flex-container">
        <div class='accord-wrapper'>
            <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' styleClass='step-by-step-accordian'>

                <p-accordionTab>
                    <p-header><span class='oup-header'>What is the <span class='bold'> iWriter</span>?</span></p-header>
                    The Oxford iWriter is an interactive tool designed to help you write more effectively in English. It
                    provides
                    models of 19 different types of writing and takes you through the key features of each one. It
                    provides
                    outline structures or frameworks for all the different types of writing, into which you can add your
                    own
                    content. For comparison and argument essays there are extra frameworks which allow you to structure
                    your
                    own
                    essay in a slightly different way from the model essays. The iWriter helps you to plan, choose
                    vocabulary,
                    write, and check your own written work.
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="btn-wrapper">
            <div class="p-grid p-justify-center p-align-center btn-lbl">
                <span>Showing:</span>
            </div>
            <div class="btn" [ngClass]="{'selected':selectedLanguage ==='BE'}" (click)="onLanguageSelection('BE')">
                <span class="tick-img"></span>
                <span class="btn-label">British English</span>
            </div>
            <div class="btn" [ngClass]="{'selected':selectedLanguage ==='AE'}" (click)="onLanguageSelection('AE')">
                <span class="tick-img"></span>
                <span class="btn-label">American English</span>
            </div>
        </div>
    </div>
    <div>
        <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' styleClass='step-by-step-accordian'>

            <p-accordionTab>
                <p-header><span class='oup-header'>Where are my projects?</span></p-header>
                New projects will be in ‘My saved writing’. Projects that you saved in the old version of the iWriter
                (i.e.
                before May 2020) can be accessed <a href="/iwriter-oald9/" target="_blank">here</a>. The old version of
                the
                iWriter will be available until 31 December 2020.
            </p-accordionTab>

        </p-accordion>
    </div>

    <div class='tab-wrapper'>
        <div class='p-col-12 i-text'>Here are the types of speaking we can help you with:</div>
        <div class='p-grid'>
            <div class='p-col-12 p-sm-6 p-md-4 tile-wrapper'>
                <div class="tile" (click)="onTileClick('sounds')">
                    <div class='title'>Sounds</div>
                    <div class='desc'>Practice your pronunciation of all English sounds</div>
                    <div class='icon sound-icon'></div>
                </div>
            </div>
            <div class='p-col-12 p-sm-6 p-md-4 tile-wrapper'>
                <div class="tile" (click)="onTileClick('conversations')">
                    <div class='title'>Conversations</div>
                    <div class='desc'>Improve your everyday conversational language</div>
                    <div class='icon conversations-icon'></div>
                </div>
            </div>
            <div class='p-col-12 p-sm-6 p-md-4 tile-wrapper'>
                <div class="tile" (click)="onTileClick('exam speaking')">
                    <div class='title'>Exam Speaking</div>
                    <div class='desc'>Prepare for your English speaking exams</div>
                    <div class='icon exam-speaking-icon'></div>
                </div>
            </div>

        </div>
    </div>
</div>




<app-spinner [isRunning]='dataLoading'></app-spinner>