<div class='home-wrapper'>
    <div class='header'><span style='font-family:MinionProRegular;'>Oxford</span> <span
            style='font-family:SourceSansProBold;'> iSpeaker</span>


    </div>
    <div class="flex-container">
        <div class='accord-wrapper'>
            <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' styleClass='step-by-step-accordian'>

                <p-accordionTab>
                    <p-header>
                        <span class='oup-header'>What is the <span class='bold'> iSpeaker</span>?</span>
                    </p-header>
                    <p>The Oxford iSpeaker is designed for learners of English to help you speak more accurately and
                        fluently in a variety of situations. The three sections each focus on a different aspect of
                        spoken English - from individual sounds and words, to phrases, to longer speaking tasks. Watch
                        videos, listen to audio, analyze the language used, and practise sounds and phrases yourself
                        through guided activities.</p>
                    <p>You can choose British or American English on this page, and all video and audio content will
                        follow this choice until you return to this page to change it.</p>
                </p-accordionTab>

            </p-accordion>
        </div>

        <div class='accord-wrapper'>
            <p-accordion expandIcon='pi pi-plus' collapseIcon='pi pi-minus' styleClass='step-by-step-accordian'>

                <p-accordionTab>
                    <p-header><span class='oup-header'>Where are my projects?</span></p-header>
                    Any content that you saved in the previous version of the iSpeaker (i.e. before October 2020)
                    can be
                    temporarily accessed <a href="/ispeaker-oald9/" target="_blank">here</a>. The previous version
                    of the
                    iSpeaker will be available until 31 December 2020.
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="btn-wrapper">
            <div class="p-grid p-justify-center p-align-center btn-lbl">
                <span>Showing:</span>
            </div>
            <div class='btn-inline'>
                <div class="btn" [ngClass]="{'selected':selectedLanguage ==='BrE'}"
                    (click)="onLanguageSelection($event,'BrE')">
                    <span class="tick-img"></span>
                    <span class="btn-label">British English</span>
                </div>
                <div class="btn" [ngClass]="{'selected':selectedLanguage ==='AmE'}"
                    (click)="onLanguageSelection($event,'AmE')">
                    <span class="tick-img"></span>
                    <span class="btn-label">American English</span>
                </div>
            </div>
            <div class="btn hide-btn" [ngClass]="{'selected':selectedLanguage ==='BrE'}"
                (click)="onLanguageSelection($event,'BrE')">
                <span class="tick-img"></span>
                <span class="btn-label">British English</span>
            </div>
            <div class="btn hide-btn" [ngClass]="{'selected':selectedLanguage ==='AmE'}"
                (click)="onLanguageSelection($event,'AmE')">
                <span class="tick-img"></span>
                <span class="btn-label">American English</span>
            </div>



        </div>

    </div>
    <div class='tab-wrapper'>
        <div class='p-col-12 i-text'>Here are the types of speaking we can help you with:</div>
        <div class='p-grid'>
            <div class='p-col-12 p-sm-6 p-md-4 tile-wrapper'>
                <div class="tile" (click)="onTileClick('sounds')">
                    <div class='title'>Sounds</div>
                    <div class='desc'>Practice your pronunciation of all English sounds</div>
                    <div class='icon sound-icon'></div>
                </div>
            </div>
            <div class='p-col-12 p-sm-6 p-md-4 tile-wrapper'>
                <div class="tile" (click)="onTileClick('conversations')">
                    <div class='title'>Conversations</div>
                    <div class='desc'>Improve your everyday conversational language</div>
                    <div class='icon conversations-icon'></div>
                </div>
            </div>
            <div class='p-col-12 p-sm-6 p-md-4 tile-wrapper'>
                <div class="tile" (click)="onTileClick('exam speaking')">
                    <div class='title'>Exam Speaking</div>
                    <div class='desc'>Prepare for your English speaking exams</div>
                    <div class='icon exam-speaking-icon'></div>
                </div>
            </div>

        </div>
    </div>
</div>

<p-button label="Reset Ispeaker Data" styleClass="reset-btn" (onClick)="ispeakerService.resetAll()"></p-button>


<app-spinner [isRunning]='dataLoading'></app-spinner>